@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root:not(.dark) {
    color-scheme: light;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
}

@theme {
  --font-display: "Roboto", sans-serif;
  --font-display--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-display--font-variation-settings: "opsz" 32;
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #007aff;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;

  --menu-bg: #F7F7F7;
  --menu-text: #1A1A1A;
  --menu-primary: #0A6ED1;
  --menu-primary-hover: #0854A0;

  --dark-menu-bg: #1A1A1A;
  --dark-menu-text: #FAFAFA;
  --dark-menu-primary: #5CC0FF;
  --dark-menu-primary-hover: #8FD6FF;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/src/fonts/Oswald-VariableFont_wght.ttf") format("woff2");
}

@font-face {
  font-family: Encode;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/src/fonts/EncodeSansSC-VariableFont_wdth,wght.ttf") format("woff2");
}

@layer components {
  .button-floating {
    @apply fixed right-4 bg-white shadow-lg rounded-full p-2 cursor-pointer border border-gray-200 hover:scale-105 transition
  }

  .droplist-floating {
    @apply fixed right-4 bg-white shadow-lg rounded-xl p-3 text-sm text-gray-700 border border-gray-200
  }

  .navbar {
    @apply w-full text-sm text-gray-900 px-6 py-4 flex justify-between items-center backdrop-blur-md;
    background: rgba(248, 248, 248, 0.8); /* gris claro translúcido */
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .navbar .menu {
    @apply hidden md:flex space-x-4
  }

  .navbar .button-collapse {
    @apply md:hidden flex flex-col space-y-1
  }

  .navbar .button-collapse .line {
    @apply w-6 h-1 bg-gray-800 rounded
  }

  .navbar-responsive {
    @apply md:hidden w-full text-sm text-gray-900 px-6 py-4 space-y-4;
    background: rgba(248, 248, 248, 0.8); /* gris claro translúcido */
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .form-title{
    @apply text-2xl font-semibold text-center text-gray-800 mb-6
  }

  .input-form-title {
    @apply block text-sm font-medium text-gray-700 mb-1 
  }

  .input-form {
    @apply w-full bg-transparent rounded-lg border border-gray-300 px-3 py-2  bg-white text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-400 
  }

  .primary-button {
    @apply text-white bg-[#007ddd] hover:bg-[#0070c0] focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-xl text-sm px-5 py-2.5 inline-flex items-center justify-center text-center cursor-pointer disabled:bg-[#AECBFA] disabled:text-white disabled:cursor-not-allowed disabled:hover:bg-[#AECBFA];
  }

  .cancel-button {
    @apply text-[#007ddd] bg-[#e3eef7]  hover:bg-[#d0e8fc] focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-xl text-sm px-5 py-2.5 inline-flex items-center justify-center text-center cursor-pointer disabled:bg-gray-400 disabled:text-gray-200 disabled:cursor-not-allowed disabled:hover:bg-gray-400;
  }

  .a-link {
    @apply block text-right text-sm text-blue-600 hover:underline
  }

  .a-button {
    @apply w-full border border-blue-600 text-blue-600 font-semibold py-2 rounded-lg hover:bg-blue-50 transition text-center block
  }

  .loading {
    @apply animate-spin rounded-full h-10 w-10 border-4 border-gray-300 border-t-blue-600
  }

  .message-success {
    @apply mt-2 text-sm text-green-600;
  }

  .message-danger {
    @apply mt-2 text-sm text-red-600;
  }

  .launch-background {
    @apply bg-white
  }

  .launch-title {
    @apply text-black font-semibold
  }

  .launch-loader {
    @apply text-black font-semibold
  }

  .container-login  {
    @apply bg-[#ededed] min-h-screen flex items-center justify-center transition-colors duration-300 px-4
  }

  .form-login {
    @apply w-full max-w-sm bg-white shadow-lg rounded-2xl p-6 sm:p-8 transition-colors
  }

  .container-logout {
    @apply bg-[#ededed] min-h-screen flex items-center justify-center transition-colors duration-300 px-4
  }

  .card-logout {
    @apply bg-white shadow-lg rounded-xl p-6 text-center
  }

  .card-logout .title {
    @apply text-xl font-semibold text-gray-800
  }

  .card-logout .description {
    @apply text-gray-600 mt-2
  }

  .container-layout {
    @apply min-h-screen bg-gray-200 p-6
  }

}

.dark {
  .button-floating {
    @apply bg-gray-800 border-gray-700
  }

  .droplist-floating {
    @apply bg-gray-800 border-gray-700
  }

  .navbar {
    @apply text-gray-200 bg-white/10 backdrop-blur-2xl border border-white/10 shadow-2xl shadow-black/40
  }

  .navbar .menu {
  
  }

  .navbar .button-collapse {

  }

  .navbar .button-collapse .line {
    @apply bg-white
  }

  .navbar-responsive {
    @apply text-gray-200 bg-white/10 backdrop-blur-2xl border border-white/10 shadow-2xl shadow-black/40
  }

  .form-title{
    @apply text-gray-200
  }

  .input-form {
    @apply border-gray-600 bg-gray-700 text-gray-200
  }
  
  .input-form-title {
    @apply text-gray-200
  }

  .primary-button {
    @apply focus:ring-[#4285F4]/55;
  }

  .a-link {
    @apply text-blue-400
  }

  .a-button {
    @apply border-blue-400 hover:bg-gray-700
  }

  .loading {
    @apply border-gray-300 border-t-blue-600
  }

  .cancel-button {
    @apply text-gray-200 bg-gray-700 border-gray-600 hover:bg-gray-600 focus:ring-gray-500;
  }

  .message-success {
    @apply text-green-500;
  }

  .message-danger {
    @apply text-red-500;
  }

  .launch-background {
    @apply bg-gray-900 bg-opacity-80 backdrop-blur-xl text-white  
  }

  .launch-title {
    @apply text-gray-300 font-semibold
  }

  .launch-loader {
    @apply text-gray-300 font-semibold
  }

  .container-login  {
    @apply bg-gray-900 bg-opacity-80 backdrop-blur-xl text-white   
  }

  .form-login {
    @apply bg-white/10 backdrop-blur-2xl border border-white/10 shadow-2xl shadow-black/40 rounded-2xl
  }

  .container-logout {
    @apply bg-gray-900 bg-opacity-80 backdrop-blur-xl text-white
  }

  .card-logout {
    @apply bg-white/10 backdrop-blur-2xl border border-white/10 shadow-2xl shadow-black/40 rounded-2xl
  }

  .card-logout .title {
    @apply text-gray-300 font-semibold
  }

  .card-logout .description {
    @apply text-gray-300
  }

  .container-layout {
    @apply bg-gray-900 bg-opacity-80 backdrop-blur-xl text-white
  }

}

@source "../node_modules/flowbite-svelte/dist";